<p>
  <b>Name:</b>
  <%=h @registration_act.name %>
</p>

<p>
  <b>Name sw:</b>
  <%=h @registration_act.name_sw %>
</p>


<%= link_to 'Edit', edit_registration_act_path(@registration_act) %> |
<%= link_to 'Back', registration_acts_path %>
