<p>
  <b>Name:</b>
  <%=h @sector_focus.name %>
</p>

<p>
  <b>Name sw:</b>
  <%=h @sector_focus.name_sw %>
</p>


<%= link_to 'Edit', edit_admin_sector_focus_path(@sector_focus) %> |
<%= link_to 'Back', admin_sector_focuses_path %>
