<h1>Listing csos</h1>

<% if @csos.empty? %>
  <p>No CSOs were found</p>
<% else %>
  <p>Found <%= @csos.length %> CSOs:</p>

  <ul class="csos">
    <% for cso in @csos %>
      <li>
        <%= link_to cso.name, cso, :class => 'cso' %>
        <%= link_to '[Details]', cso %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if admin? %>
  <p class="actions">
    <%= link_to 'New cso', new_cso_path %>
  </p>
<% end %>
