<p>
  <b>Name:</b>
  <%=h @membership_type.name %>
</p>

<p>
  <b>Name sw:</b>
  <%=h @membership_type.name_sw %>
</p>


<%= link_to 'Edit', edit_admin_membership_type_path(@membership_type) %> |
<%= link_to 'Back', admin_membership_types_path %>
