<p>
  <b>Name:</b>
  <%=h @operational_area.name %>
</p>

<p>
  <b>Name sw:</b>
  <%=h @operational_area.name_sw %>
</p>


<%= link_to 'Edit', edit_admin_operational_area_path(@operational_area) %> |
<%= link_to 'Back', admin_operational_areas_path %>
